@page "/"

<PageTitle>Index</PageTitle>

<div class="list-group">
    <NavLink href="tic-tac-toe" class="fs-3 list-group-item list-group-item-action">
        <i class="bi bi-grid-3x3-gap-fill"></i> Tic-Tac-Toe
    </NavLink>
    <NavLink href="connect-four" class="fs-3 list-group-item list-group-item-action">
        <i class="bi bi-circle-square"></i> Connect Four
    </NavLink>
    <NavLink href="memory" class="fs-3 list-group-item list-group-item-action">
        <i class="bi bi-files"></i> Memory
    </NavLink>
</div>