@page "/"

<PageTitle>@PageTitleFactory.Create()</PageTitle>

<div class="list-group">
    @foreach(var item in NavigationItemFactory.MakeItems())
    {
        <NavLink href="@item.Href" class="fs-3 list-group-item list-group-item-action">
            <i class="bi @item.Icon"></i> @item.Text
        </NavLink>
    }
</div>