@inherits LayoutComponentBase

<PageTitle>Family Games</PageTitle>

<div class="container-fluid px-0">
    <NavMenu />

    <article class="px-4 mt-3">
        @Body
    </article>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
