<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            Family Games
        </NavLink>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door-fill"></i> Home
                    </NavLink>
                </li>
                @foreach(var item in NavigationItemFactory.MakeItems())
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="@item.Href">
                            <i class="bi @item.Icon"></i> @item.Text
                        </NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
