<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            My Garage
        </NavLink>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-door-fill"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="tic-tac-toe">
                        <i class="bi bi-grid-3x3-gap-fill"></i> Tic-Tac-Toe
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="connect-four">
                        <i class="bi bi-circle-square"></i> Connect Four
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="memory">
                        <i class="bi bi-files"></i> Memory
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
